@import '../../../../styles/variables';

.Input {
  outline: none;
  font: inherit;
  display: inline-block;
  border: none;
  height: 100%;
  width: 100%;

  &:focus {
    outline: none;
  }

  &__DiscoverText {
    display: block;
    grid-column: -1 / 1;
    width: 100%;
    padding: $filter-padding;
    font-family: inherit;
    font-size: $normal-font-size;
    background-color: $filter-background-color;
    border-radius: $filter-border-radius;
    transition: all 200ms ease-out;

    &:focus {
      border-radius: 0;
      border-top-left-radius: $filter-border-radius-top-side;
      border-top-right-radius: $filter-border-radius-top-side;
      background-color: $filter-background-color-lighter;
    }
    
    &::placeholder {
      color: $filter-font-color;
    }
  }

  &__DiscoverSubmit {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    width: 15rem;
    height: 4rem;
    margin-top: 4rem;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: $filter-border-radius;
    justify-self: center;
    grid-column: 1 / -1;
    cursor: pointer;
    transition: all 200ms ease-out;

    &:hover {
      transform: translateY(-.15rem);
      box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .5);
      background-color: #ccc;
    }
  }

  &__SearchbarText {
    width: 50%;
    height: 100%;
    border-radius: $large-border-radius;
    font-size: $normal-font-size;
    padding: 0 2rem;
    transition: all 400ms ease-in-out;
    background-color: #fff;
    backface-visibility: hidden;

    &::placeholder {
      color: rgba($color: #888, $alpha: .65);
    }

    &:focus {
      width: 75%;
      box-shadow: 0 .1rem 0.15rem deeppink,
                  0 -.1rem 0.15rem deeppink,
                  .1rem .1rem 0.15rem deeppink,
                  .1rem -.1rem 0.15rem deeppink,
                  -.1rem .1rem 0.15rem deeppink,
                  -.1rem -.1rem 0.15rem deeppink;
      background-color: #eee;
    }
  }
  
  &__SearchbarSubmit {
    width: 5rem;
    height: 100%;
    margin-left: -5rem;
    padding: .5rem 0;
    border-radius: 10rem;
    backface-visibility: hidden;
    background-color: blueviolet;
    transition: all 400ms ease-in-out;
    cursor: pointer;    

    &:hover {
      transform: scale(1.1);
      animation: pulse 2s infinite;
    }
  }
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204,169,44, .75);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}