@import '../../../../styles/variables';

.Website {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all 200ms ease-out;
    backface-visibility: hidden;
  }

  &:hover {
    transform: translateY(-.1rem);
    color: $primary-gray;
  }

  &:active {
    transform: translateY(.1rem);
  }
  
  &__Name {
    font-size: 3rem;
    font-weight: 300;
  }
}