.Title {
  &__Carousel {
    font-size: 5rem;
    font-weight: 300;
  }

  &__Thumbnail {
    display: inline;
    font-weight: 700;
    font-size: 1.7rem;
  }

  &__Search {
    display: block;
    font-size: 5rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
  }
}