.Footer {
  display: block;
  padding: 11rem 0;
  background-image: radial-gradient(
    at 30% top, 
    rgb(12, 143, 114) 0%,
    rgb(9, 40, 53) 70%);

  &__Nav {
    display: flex;
    justify-content: center;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 4rem;
    }
  }

  &__External {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__API {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}