.Category {
  font-size: 4rem;
  font-weight: 300;
  width: 100%;
  text-align: center;
  padding: 1rem 3rem;
  cursor: pointer;

  &_active {
    cursor: initial;
    background-color: pink;
  }

  &:first-child {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  
  &:last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  
  &:not(:last-child) {
    border-right: 3px solid black;
  }
}