@import '../../styles/variables';

.Layout {
  background-color: $nav-background-color;
      
  &__Main { 
    min-height: $layout-min-height;
    background-image: $layout-main-gradient;
    margin: 0 auto;
  }
}