$max-width: 120rem;
$large-border-radius: 10rem;
$normal-font-size: 1.6rem;

$filter-border-radius: 2rem;
$filter-border-radius-top-side: 1rem;
$filter-padding: 1rem 2rem;
$filter-gradient: linear-gradient(to bottom right, #11998e 0%, #38ef7d 90%);

$filter-dropdown-height: 18rem;
$filter-background-color: #013338;
$filter-background-color-lighter: #005c64;
$filter-font-color: #ccc;

$filter-scrollbar-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
$filter-scrollbar-bg-color: #ccc;
$filter-scrollbar-thumb-bg-color: #19BFD1;

$layout-min-height: calc(100vh - 15rem);