.CarouselArrow {
  display: block;
  width: 5rem;
  height: 5rem;
  transition: all 200ms ease-out;

  &_left {
    &:hover {
      filter: drop-shadow(.75rem .75rem .7rem rgba(0,0,0,.5)) brightness(1.5);
    }
  }

  &_right {
    &:hover {
      filter: drop-shadow(-.75rem .75rem .7rem rgba(0,0,0,.5)) brightness(1.5);
    }
  }
}