@import '../../../../styles/variables';

.Category {
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
  width: 100%;
  padding: $filmList-padding-vert $filmList-padding-side;
  margin-bottom: 1rem;
}