.Header {
  position: relative;
  display: flex;
  height: 75vh;
  width: 100%;
  overflow: hidden;
  
  &__SideDrawer {
    display: flex; 
    flex-direction: column;
    height: 100%;
    max-width: 25%;
    width: 50rem;
    transition: all 75ms ease-out;
    
    &_shrink { 
      transform: translateX(100%); 
      width: 0;
    }
  }
  
  &:hover &__SideDrawerToggle {
    visibility: visible;
    opacity: 1;
  }

  &__SideDrawerToggle {
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1rem;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    transition: all 300ms ease-in-out 200ms,
                background-color 300ms ease-in-out,
                transform 400ms ease-out;
    cursor: pointer;
  }
  
  &__Summary {
    width: 100%;
  }
}