@import '../../styles/variables';

.Modal {
  position: fixed;
  top: 3%;
  left: 5%;
  right: 5%;
  bottom: 3%;
  z-index: 10000;
  border: 2px solid black;
  border-radius: 3rem;
  overflow-y: scroll;
  background-color: $nav-background-color;

  &::-webkit-scrollbar {
    display: none;
  }
}