.Modal {
  position: fixed;
  top: 3%;
  left: 5%;
  right: 5%;
  bottom: 3%;
  z-index: 10000;
  border: 5px solid black;
  border-radius: 1rem;
  overflow-y: scroll;
  background-color: #ccc;

  &::-webkit-scrollbar {
    display: none;
  }
}