.DiscoverBody {
  position: relative;
  padding-bottom: 5rem;
  margin-bottom: 15rem;

  &__List {
    height: 100%;
    
    &_hide {
      display: none;
    }
  }

  &__Arrows {
    position: absolute;
    top: 42.5%;
    transform: translateY(-50%);
    z-index: 10;
    transition: all 200ms ease-out;   
    
    &_left { 
      left: -4%; 
      
      &:hover {
        transform: translate(-.25rem, -50%);
        filter: drop-shadow(.75rem .75rem .7rem rgba(0,0,0,.5)) brightness(1.5);
      }
    }

    &_right{
      right: -4%; 

      &:hover {
        transform: translate(.25rem, -50%);
        filter: drop-shadow(-.75rem .75rem .7rem rgba(0,0,0,.5)) brightness(1.5);
      }
    } 
  }
}