.Website {
  text-decoration: none;
  margin-bottom: 1rem;
  
  &__Name {
    font-size: 3rem;
    color: black;
    font-weight: 300;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}