@import '../../../../styles/variables';

.NavItem {
  display: inline-block;
  font-size: 2rem;
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 2rem;

  &__Img {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
  }
  
  &__Link {
    &,
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      height: 100%;
      width: 100%;
    }
  }
  
  &_active {
    position: relative;
    filter: drop-shadow(0 .25rem 1.2rem rgba($primary-pink, 1));
  }
}