.FilmImage {
  &__Carousel {
    display: block;
    object-fit: cover;
    object-position: 50% 35%;
    height: 100%;
    width: 100%;
    transition: all 200ms ease-out;  
  }

  &__Thumbnail {
    display: block;
    height: 100%;
    width: 100%;
  }
}