.Searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  
  &__Input {
    width: 50%;
    height: 100%;
    border-radius: 10rem;
    font-size: 1.6rem;
    padding: 0 2rem;
    transition: all 400ms ease-in-out;
    background-color: #fff;
    backface-visibility: hidden;

    &::placeholder {
      color: rgba($color: #888, $alpha: .65);
    }

    &:focus {
      width: 75%;
      box-shadow: 0 .1rem 0.15rem deeppink,
                  0 -.1rem 0.15rem deeppink,
                  .1rem .1rem 0.15rem deeppink,
                  .1rem -.1rem 0.15rem deeppink,
                  -.1rem .1rem 0.15rem deeppink,
                  -.1rem -.1rem 0.15rem deeppink;
      background-color: #eee;
    }
  }

  &__Submit {
    display: block;
    width: 5rem;
    height: 100%;
    margin-left: -5rem;
    padding: .5rem 0;
    border-radius: 10rem;
    backface-visibility: hidden;
    background-color: blueviolet;
    transition: all 400ms ease-in-out;
    cursor: pointer;    

    &:hover {
      transform: scale(1.1);
      animation: pulse 2s infinite;
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204,169,44, .75);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}