.SideDrawerToggle {
  display: block;
  z-index: 100;
  width: 2.5rem;
  height: 2.5rem;
  clip-path: circle(50%);

  &_shrink {
    transform: rotateZ(180deg);

    &:hover {
      transform: rotateZ(225deg) scale(1.05);
    }
  }
}