@import '../../../../styles/variables';

.Categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: $max-width;
  margin: 10rem auto 3rem;
  border: 3px solid black;
  border-radius: 100px;
}