.Crew {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5rem auto;

  &__Crew {
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;
    height: 100%;
    width: 100%;
    text-align: center;
    
    & > *:not(:last-child) {
      margin-right: 5rem;
    }
  }
  
  &__Title {
    font-size: 5rem;
    font-weight: 300;
  }
}