.Button {
  display: inline-block;
  border: none;
  padding: .5rem 2rem;
  margin-bottom: .5rem;
  font-size: 1.6rem;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}